.nav{
    background-color: black;
    height: 40px;
    min-height: fit-content;
    color:#ACACAC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.nav-date span{
    color:#FFFFFF;
    
}
.nav-adress span{
    color:#FFFFFF;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.nav-info{
    color:#FFFFFF;
}